/* DentalInfo.css */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-container label {
  margin: 0.5rem 0;
}

.patient-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 2rem;
}
