/* DoctorPage.css */

.navbar a:hover {
  color: #ddd;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
